.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;

  display: flex;
}

.hero-image {
  max-width: 250px;
  width: 100%;
  height: auto;
}
